<header>
  <img src="assets/images/icons/sheep.svg" />
  <a href="#">Contattaci</a>
  <nav>
    <ul>
      <li><a href="./">Home</a></li>
      <li>
        <a
          pageScroll
          [pageScrollOffset]="0"
          [pageScrollDuration]="100"
          [pageScrollEasing]="myEasing"
          [pageScrollInterruptible]="true"
          (pageScrollFinish)="doSmth($event)"
          href="#corsi"
          >Corsi</a
        >
      </li>
      <li>
        <a
          pageScroll
          [pageScrollOffset]="0"
          [pageScrollDuration]="100"
          [pageScrollEasing]="myEasing"
          [pageScrollInterruptible]="true"
          (pageScrollFinish)="doSmth($event)"
          href="#orari"
          >Orari</a
        >
      </li>
      <li>
        <a
          pageScroll
          [pageScrollOffset]="0"
          [pageScrollDuration]="100"
          [pageScrollEasing]="myEasing"
          [pageScrollInterruptible]="true"
          (pageScrollFinish)="doSmth($event)"
          href="#eventi"
          >Eventi</a
        >
      </li>
      <li>
        <a
          pageScroll
          [pageScrollOffset]="0"
          [pageScrollDuration]="100"
          [pageScrollEasing]="myEasing"
          [pageScrollInterruptible]="true"
          (pageScrollFinish)="doSmth($event)"
          href="#istruttori"
          >Istruttori</a
        >
      </li>
      <li>
        <a
          pageScroll
          [pageScrollOffset]="0"
          [pageScrollDuration]="100"
          [pageScrollEasing]="myEasing"
          [pageScrollInterruptible]="true"
          (pageScrollFinish)="doSmth($event)"
          href="#spazi"
          >Spazi</a
        >
      </li>
      <li>
        <a
          pageScroll
          [pageScrollOffset]="0"
          [pageScrollDuration]="100"
          [pageScrollEasing]="myEasing"
          [pageScrollInterruptible]="true"
          (pageScrollFinish)="doSmth($event)"
          href="#promozioni"
          >Promozioni</a
        >
      </li>
      <li><a [routerLink]="['/login']">Login</a></li>
    </ul>
  </nav>
</header>
