@import 'abstract/variables';

.large-banner {
  position: relative;
  &__image {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
  &__text-content {
    position: absolute;
    top: 50%;
    /*Traslo sull'asse Y di un valore % pari all'altezza dell'elemento stesso*/
    transform: translateY(-40%);
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
  }
  &__title {
    font-weight: 800;
    font-size: 5.2rem;
    text-transform: uppercase;
    margin: 0;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 3.2rem;
    text-transform: uppercase;
    margin: 0;
  }
  &__description {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    color: $whiteColor;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
    max-width: 38rem;
    margin-left: auto;
    margin-right: auto;
    background-color:  rgba(0, 0, 0, 0.7);
  }
}