<header>
  <img src="assets/images/icons/sheep.svg" />
  <a href="#">Contattaci</a>
  <nav>
    <ul>
      <li><a href="./">Home</a></li>
      <li>
        <a
          pageScroll
          [pageScrollOffset]="0"
          [pageScrollDuration]="100"
          [pageScrollEasing]="myEasing"
          [pageScrollInterruptible]="true"
          (pageScrollFinish)="doSmth($event)"
          href="#corsi"
          >Corsi</a
        >
      </li>
      <li>
        <a
          pageScroll
          [pageScrollOffset]="0"
          [pageScrollDuration]="100"
          [pageScrollEasing]="myEasing"
          [pageScrollInterruptible]="true"
          (pageScrollFinish)="doSmth($event)"
          href="#orari"
          >Orari</a
        >
      </li>
      <li>
        <a
          pageScroll
          [pageScrollOffset]="0"
          [pageScrollDuration]="100"
          [pageScrollEasing]="myEasing"
          [pageScrollInterruptible]="true"
          (pageScrollFinish)="doSmth($event)"
          href="#eventi"
          >Eventi</a
        >
      </li>
      <li>
        <a
          pageScroll
          [pageScrollOffset]="0"
          [pageScrollDuration]="100"
          [pageScrollEasing]="myEasing"
          [pageScrollInterruptible]="true"
          (pageScrollFinish)="doSmth($event)"
          href="#istruttori"
          >Istruttori</a
        >
      </li>
      <li>
        <a
          pageScroll
          [pageScrollOffset]="0"
          [pageScrollDuration]="100"
          [pageScrollEasing]="myEasing"
          [pageScrollInterruptible]="true"
          (pageScrollFinish)="doSmth($event)"
          href="#spazi"
          >Spazi</a
        >
      </li>
      <li>
        <a
          pageScroll
          [pageScrollOffset]="0"
          [pageScrollDuration]="100"
          [pageScrollEasing]="myEasing"
          [pageScrollInterruptible]="true"
          (pageScrollFinish)="doSmth($event)"
          href="#promozioni"
          >Promozioni</a
        >
      </li>

      <li *isLogged="true"><a [routerLink]="['/admin']">Admin</a></li>


      <li *isLogged="true"><a [routerLink]="['/auth/logout']">Logout</a></li>


      <li *isLogged="false"><a [routerLink]="['/auth']">Login</a></li>
      <h1 *isLogged="true">Welcome {{ (authenticationService.user)?.email }}!</h1>
      <img style="width:64px" *isLogged="true" [src]="authenticationService.user?.photoURL">
    </ul>

  </nav>
</header>
<bs-banner></bs-banner>
